nav{
    background-color: cadetblue;
}
.button-heading{
    color: coral;
}
.button-color{
    background-color: black;
}

.para-color{
    background-color: aquamarine;
}
.red-text {
    color: red;
    font-size: 20px;
}

.heading-color{
    background-color: wheat;
}

.form-color{
    background-color:rgb(240, 182, 161);
}
.horizontal-color{
    background-color: wheat;
    
}

